* {
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    text-align: center;
}
body {
    padding: 40px;
    flex-wrap: wrap;
    margin-top: 2%;
    text-align: center;
    color: white;
    background: rgb(6, 6, 12);
    
}

nav { 
    display: inline-flex;
    background-color: darkkhaki;
}

nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  main { 
      display: flex;
      flex-wrap: wrap;
     
      
      
  }

  aside {

      flex: 1;
      padding: 80px;
      padding: 20px;
      text-align: center;
     
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }


  

  aside {
    width: 25%;
    justify-content: center;
  }
  
  aside h2 {
    font-size: 150%;
    justify-content: center ;
  }

 
  input,
  button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }


  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 500px;
  }
  

  